root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #ffffff;
    font-size: inherit;
}

a {
    color: #333333;
}

h1 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    /*  font: 10px 'Helvetica';*/
}

h2 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    /*  font: 10px 'Helvetica';*/
}

h3 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    /*  font: 10px 'Helvetica';*/
}

table {
    empty-cells: show;
    font-size: 11pt;
}

th, td th {
    font-size: 8pt;
    color: #333333;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #dfeeee;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: 8pt;
}

td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
    font-size: 11pt;
}

tr._odd_row {
    background-color: gray;
    color: #4e6a71;
    font-size: 11pt;
}


tr._even_row {
    background-color: gray;
    color: #4e6a71;
    font-size: 11pt;
}

#content {

    float: right;
    position: relative;    
    margin-left:25%;
    margin-right:0%;
    border-spacing: 10px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: gray;
    border-left-color: gray;
    border-bottom-color: gray;
    border-top-color: gray;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: justify;
    height: 100%;
    text-indent: 3px;
}

#summary{
    text-shadow: -1px 1px 4px gray;

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: gray;
    border-left-color: gray;
    border-bottom-color: gray;
    border-top-color: gray;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    /* width: 280px; */
    margin-right:75%;
    margin-left:0%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #dfeeee;
    font-family: Arial,Helvetica,sans-serif;
    font-variant: inherit;
    font-weight: normal;
    font-style: normal;
    color: #000099;
}

.creditbody{
    text-align: center;

    font-family: sans-serif;
    color: #333333;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
}